@tailwind base;
@tailwind components;
@tailwind utilities;







.button-border-style  {


  box-shadow: 0 0 0 1px rgba(209, 212, 221, 1)
}

.button-border-style:hover  {


  box-shadow: 0 0 0 2px rgba(20, 184, 166, 0.5)
}

.fonr-semibold-style {
  font-weight: 800;
}



.box-shadow {
  box-shadow: 0 0 20px rgba(0,0,0,.1)
}

.disabled-button-bg {
  background-color: #F6F6F9;
  color: #D5D6DF;
  border-color: #F6F6F9;
}

.disabled-text-color {
  color: #D5D6DF;
}

.active-button-size {
  background-color: #ccfbf1;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  border-color: #ccfbf1;
}

@media (min-width: 1024px) {
  .mediaQueriesLg {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1)
  }

}